/*
    Component: page
    ---
    Page component for mobile nav transition
*/

.c-page {
    position: relative;
    transition: transform .5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.has-mobile-nav .c-page {
    /* option 1 scale */
    /* transform: scale(.98); */

    /* option 2 push left */
    /* transform: translateX(100%); */

    /* option 3 slide left */
    transform: translateX(25%);
}

@media (min-width: 992px) {
    /* Reset the transform on larger viewports */
    .c-page {
        transform: scale(1) !important;
    }
}
